.container {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .table {
    background-color: rgb(201, 201, 201);
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border: 2px solid black;
    .head {
      padding: 5px;
      border-style: solid;
      padding: 10px 20px;
      border: 2px solid black;
      .row {
        font-weight: 700;
      }
    }
    .foot {
      border: 2px solid black;
      .row {
        font-weight: 700;
      }
    }
  }
  .btn {
    margin-top: 20px;
    color: red;
  }
}
